*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: minmax(50px ,10%) minmax(800px, 80%) minmax(200px, 10%);  
}

.header{
    position: sticky;
    top: 0px;
    grid-area: header;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: footer;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    grid-area: main;
    display: grid;
    grid-template-areas:
    'navigation topic';
    grid-template-columns: 1fr 3fr;
}

.nav-col{
    grid-area: navigation;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 2px white solid;
}

.nav-header{
    display: flex;
    flex-direction: row;
    
}

.topic{
    grid-area: topic;
    background-color: #333;
}

.nav-col{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    padding: 20px;
    background-color: #333;
}

.headers-list, .topics-list{
    list-style: none;
}

.headers-list li{
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #bbbbbb;
}

.topics-list a{
    list-style: none;
    margin-left: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #bbbbbb;
}

.topics-list li{
    margin: 5px;
}

.topics-list li:hover{
    border-end-end-radius: 5px;
    background-color: #5116b1;
}


.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #bbbbbb;
}
.creator-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.creator {
    margin-bottom: 20px;
    width: 100%;
}
.creator img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.creator h2 {
    margin-top: 0;
    color: #333;
}
.creator p, .creator a {
    color: #666;
    margin-bottom: 5px;
    text-decoration: none;
}
.Creator-Image{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Creator-forBack{
    text-align: center;
    margin-top: 20px;
}

