*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-size: 16px;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: 75px minmax(calc(100% - 225px), auto) 150px;
}

a {
    text-decoration: none;
    color: #00706b;
}

.header{
    position: sticky;
    top: 0px;
    height: 75px;
    grid-area: header;
    background-color: #333;
    border-bottom: 2px #666666 solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header a{
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

.footer{
    grid-area: footer;
    height: 150px;
    background-color: #333;
    border-top: 2px #666666 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    grid-area: main;
    display: grid;
    grid-template-areas:
    'navigation topic';
    grid-template-columns: 1fr 3fr;
}

.nav-col{
    grid-area: navigation;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-right: 2px #666666 solid;
}

.nav-header{
    display: flex;
    flex-direction: row;
    grid-column: 3;
    justify-self: right;
    align-self: center;
}

.nav-header a{
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}

.topic{
    grid-area: topic;
    background-color: #333;
    padding: 2.5%;
}

.topic p {
    color: #bbb;
    line-height: 1.2;    /* Увеличение интервала между строками */
    text-align:justify;
    text-indent: 20px;   /* Устанавливаем отступ в начале абзаца */
}

.topic h1{
    color: #bbb;
    text-indent: 20px;   /* Устанавливаем отступ в начале абзаца */
}

.topic h2{
    color: #bbb;
    text-indent: 20px;   /* Устанавливаем отступ в начале абзаца */
}

.topic h3{
    color: #bbb;
    text-indent: 20px;   /* Устанавливаем отступ в начале абзаца */
}

.nav-col{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    background-color: #333;
}

.headers-list, .topics-list{
    list-style: none;
}

.headers-list li{
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #bbbbbb;
}

.topics-list li>a{
    padding: 10px;
    list-style: none;
    margin-left: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #bbbbbb;

}

.topics-list a>li{
    padding: 5px;
    transition: background-color 0.1s;
}

.topics-list li:hover{
    border-end-end-radius: 5px;
    border-start-end-radius: 5px;
    background-color: #5116b1;
}

.container {

    grid-area: main;
    background-color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #bbbbbb;
    margin-bottom: 20px;
}

.creator-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.creator {
    margin-bottom: 20px;
    width: 100%;
}

.creator img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.Creator-Image{
    background-color: #444;
    padding: 5% 2%;
    transform: scale(1);
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 50px;
}

.Creator-Image a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Creator-Image *{
    color: #bbbbbb;
}

.Creator-Image:hover{
    transform: scale(1.2);
    background-color: #5116b1;
    box-shadow: 1px 3px 20px -5px #00706b;
}

.Creator-forBack{
    text-align: center;
    margin-top: 20px;
}

.contact-info{
    color: #bbbbbb;
}

